<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>
    <div class="text-6xl flex  justify-center ">
        <h1>Sexy api</h1>
    </div>
    <div class="flex justify-center my-4">
        <code>

            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/getTop">Get top Models</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/popularxxx/?page=1">Get Popular Videos From
                    Ok.xxx1</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/trendingxxx/?page=1">Get Trending Videos From
                    Ok.xxx</a></li>
             <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/search/?page=1&keyw={keyword}">Get Videos By
                    Keyword</a></li>
           <!--  {% comment %} <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/">Get Hanime Weekly Top</a></li> {% endcomment %}-->
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/random">Get Random video</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="http://localhost:4000/gambit/weeklybest">Get Best Weekly Videos from Xhamster</a>
            </li>
            <!--
            {% comment %} 
                    <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/gambit/getTop">Get top Models</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Popular Videos From
                    Ok.xxx</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Trending Videos From
                    Ok.xxx</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Videos By
                    Keyword</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Hanime Weekly Top</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Random video</a></li>
            <li class="justify-center flex my-2 p-2 text-2xl bg-black text-white"><a target="_blank"
                    href="https://shitpostingalt-curly-space-acorn-6q76r79vxgvfg57-4000.preview.app.github.dev/">Get Best Weekly Videos from Xhamster</a>
            </li>
        {% endcomment %}
        -->
    </div>
</body>
<footer>
    <div class="text-2xl flex justify-center">
        <p>Repo <a class="bg-black text-white" href="https://github.com/ShitpostingAlt/Sexy-API">SexyAPI</a></p>
    </div>
</footer>
<script>

</script>

</html>
